.hero2{
        width: 100%;
            height: 21.3125rem;
            background: linear-gradient(180deg, rgba(2, 0, 106, 0.85) 0%, rgba(2, 0, 106, 0.67) 0.01%, #02006A 100%);
            margin-top: 76px;
            padding-top: 118px;
            padding-left: 79px;
}


.hero2 h1 {
    color: #FFF;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.5rem;
    font-weight: 700;
}

.hero2 h2 {
    color: #FFF;
    font-family: 'Poppins', 'sans-serif';
    font-size: 3.125rem;
    font-weight: 700;
}

.intro-text h3{
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.5rem;
    font-weight: 600;
}

.intro-text{
    margin-top: 4.37rem;
}

.intro-text h3{
    margin-bottom: 2.31rem;
}

.intro-text p{
    font-family: 'Poppins', 'san-serif';
    font-size: 1.25rem;
    font-weight: 400;
}




.wropper {
    margin-top: 4.20rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bento-container{
    width: 18.125rem;
    height: 15rem;
    background-color: #FAFAFA;
    padding-top: 3rem;
    padding-left: 2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4375rem;
    font-weight: 500;
    line-height: 1.75rem;
    float: left;
}

.bento-container img {
    width: 3.93188rem;
    height: 3.94888rem;
}


/* Parte de servicios */
.servicesdev{
    margin-top: 5.75rem;
}
.bento-image2{
    width: 14.9375rem;
    height: 12.75rem;
    background-color: #F8F8F8;
    background-image: url("../img/mwalogo.svg");
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding-top: 4.31rem;
    padding-left: 2rem;
    float: left;
    border-radius: 1.25rem;
}
.highlighted{
    background: linear-gradient(180deg, rgba(26, 0, 132, 0.15) 0%, #1A0084 32.5%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.wrapper2{
    margin-top: 4.20rem;
}
.wrapper2 .centered{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesdev .wrapper2:nth-child(4) {
    margin-top: 0;
}

.bento-image2 img {
    width: 3.93188rem;
    height: 3.94888rem;
}

.text-box2 {
    height: 12.75rem;
    display: flex;
    align-items: center;
}

.text-box2 p {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 3.12rem;
}


.graybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    width: 100%;
    height: 2.9375rem;
    background: #F8F8F8;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.why-us2 {
    margin-top: 6.56rem;
}

.why-us2 .container h3 {
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.5rem;
    font-weight: 600;
}

.why-us2 .container p {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 50.31rem;
}


@media screen and (max-width:1046px) {
    .bento-image2 {
        float: initial;
    }

    .text-box2 {
        height: initial;
        display: initial;
        align-items: initial;
    }

    .text-box2 p {
        margin-right: initial;
        margin-left: initial;
    }
}