header .navbar{
    width: 100%;
    height: 50px;
    background: red;
}

.principal .container{
    display: flex;
}
.principal{
    margin-top: 227px;
    margin-bottom: 289px;
}

.principal .maintext{
    width: 49.5%;
}
.principal .illustrations {
    width: 50%;
}
.principal .maintext h1{
    font-size: 4.8em;
    line-height: 1em;
}
.principal .maintext h2{
    font-size: 2.18rem;
    font-weight: 600;
    line-height: 2.5rem;
}
.principal p{
    font-size: 1.25rem;
}

.buttonmore{
    display: inline-block;
    padding: 15px 30px;
    background-color: #5000D1;
    color: #ffffff;
    border-radius: 0.80063rem;  
    font-size: 1.42194rem;
    font-weight: 600;
    margin-top: 2em;
}

.illustrations img{
    width: 100%;
}

/* SECCION DE ESTADISTICAS-------------------------------------------------- */

.statistics .container {
    display: flex;
    gap: 20px;
    /* Ajusta el espacio entre las columnas según sea necesario */
}
.content{
    width: fit-content;
}

.bento{
    background-color:#EAEAEA;
    height: 10.56rem;
    border-radius: 0.94013rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bento:nth-child(1){
    width: 25%;
}
.bento:nth-child(2) {
    width: 45%;
}

.bento:nth-child(3) {
    width: 30%;
}
.big{
    font-size: 4.5rem;
    font-weight: 800;
    background: linear-gradient(256deg, #6100FF -40.81%, #5000D1 -3.71%, #5000D1 33.39%, #5000D1 35.05%, #073DE5 107.58%);
        -webkit-background-clip: text;
        color: transparent;
    line-height: 1em;
}

.small{
    font-family: 'Sora', sans-serif;
    line-height: 1.56rem;
    font-size: 1.25rem;
    font-weight: 800;
    opacity: 0.6;
    text-align: center;
}


/* GRAFICA FACHERA */
.graph{
    margin-top: 140px;
}
.graph .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.graph__container{
    grid-column: span 4;
    background-color: #EAEAEA;
    border-radius: 0.53588rem;
    height: 12.90569rem;
    text-align: center;
        background-image: url("../img/chart.svg");
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
}
.graph__container h3{
    margin-top: 1em;
    background: linear-gradient(256deg, #5000D1 -40.81%, #CAAAFF -14.84%, #9D61FF -3.71%, #833FF3 66.03%, #9656FF 70.49%, #5000D1 107.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter:contrast(130%);
    font-size: 2.85em;
    font-weight: 800;

}

/* SERVICES SECTION */
.services{
    margin-top: 189.5px;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 240px);
}
.services .container .content-container img{
    width: 74px;
}
.services .container .content-container p{
    font-weight: 450;
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}
.bentocard{
    background-color: #f7f7f7;
    border-radius: 0.53588rem;
    margin-right: 27px;
    margin-bottom: 27px;
}

.content-container{
    padding: 50px;
}
.text-aside{
    grid-area: 1 / 3 / 2 / 5;
}

.text-aside h3{
    font-size: 2.3rem;
    line-height: 3.1rem;
    font-weight: 600;
}

.text-aside span{
    color: #6100FF;
}
.text-aside p{
    font-size: 1.2rem;
    line-height: 1.75rem;
}

.presentation{
    margin-top: 217px;
    margin-bottom: 86px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
    line-height: 100%;
    background: linear-gradient(163deg, #F90 -31.67%, #FFDAA4 102.97%, #FFD79B 102.99%, #FFD9A0 103%, #FFBE5D 103.01%, #FFB23E 103.03%, #FFA41D 103.03%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.subtitle{
    color: #232D37;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5625rem;;
    font-weight: 600;
    text-align: center;
}

.looking{
    font-size: 1.50rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 103.89px;
}

.suggestions{
    display: flex;
    margin-top: 42px;
}
.suggestions a {
    margin-right: 2em;
    color: #CC7A00;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 1.5625rem */
        letter-spacing: -0.05356rem;
}

.extext{
    margin-top:51px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}
.icons .cardicons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:94px;
}
.icons .cardicons p{
    color: #636363;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
}
.icons img:nth-child(1){
    width: 169px;
    height: 150px;
}

.icons img:nth-child(2) {
    width: 129.52px;
    height: 116.11px;
}

.icons img:nth-child(3) {
    width: 123.9px;
    height: 126.81px;
}

.icons img:nth-child(3) {
    width: 135px;
    height: 138px;
}


.knowmore2{
    width: 28.0625rem;
    height: 3.5625rem;
    border-radius: 126.875rem;
    background: linear-gradient(180deg, #F90 0%, #FFBE5E 100%);
    padding: 0.94rem 0.87rem;
    color: #FFF; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.5625rem;
    font-weight: 800;
    line-height: 1.75rem;
    margin-top: 155px;
    margin-bottom: 331px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* RESPONSIVE */



@media screen and (max-width:800px) {

    .principal .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .principal .maintext {
        width: 100%;
    }
    .principal .illustrations {
        order: -1;
        /* Move the .illustrations div to the beginning */
    }

}

/* Responsive para la sección de gráficos */
@media screen and (max-width: 800px) {
    .graph {
        margin-top: 80px;
    }

    .graph__container {
        height: 10rem;
    }

    .graph__container h3 {
        font-size: 1.8rem;
    }

    .graph__container {
        background-image: url("../img/chart.svg");
        background-size: 150%;
        background-position: center bottom;
    }
}


/* Responsive para la sección de servicios */
/* Responsive para la sección de servicios */





@media screen and (max-width: 980px) {
    .services .container {
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
            grid-template-rows: repeat(5, auto);
            /* Cambia a cinco filas */
            }
    .text-aside {
        grid-column: 1/ -1;
        /* El texto ocupa el maximo columnas */
        /* El texto ocupa dos filas */
        order: -1;
        margin-bottom: 3rem;
    }

    .text-aside h3 {
        font-size: 2rem;
        /* Ajusta el tamaño de la fuente según sea necesario */
        line-height: 2.5rem;
    }

    .text-aside p {
        font-size: 1rem;
        /* Ajusta el tamaño de la fuente según sea necesario */
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 1060px){ 
    
    .suggestions{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        }

}

@media screen and (max-width: 1060px) {
    .icons {
        flex-wrap: wrap;
    }
    .icons .cardicons{
        margin-right: 20px;
        margin-top:20px ;
    }
}

@media screen and (max-width: 800px) {
    .statistics .container {
        flex-direction: column;
        align-items: flex-start
    }

    .bento:nth-child(1),
    .bento:nth-child(2),
    .bento:nth-child(3) {
        width: 100%;
    }

}
@media screen and (max-width: 800px) {
    .presentation{
        font-size: 2rem;
    }
    .title{
        font-size: 3rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    .big {
        font-size: 3.5rem;
    }

    .small {
        font-size: 1rem;
    }
}



@media screen and (max-width: 620px){
    .icons{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 663px) {
    .services .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        /* Cambia a cinco filas */
    }
    .services .container .content-container img {
        width: 54px;
    }

    .services .container .content-container p {
        font-weight: 450;
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
    }
    .bentocard {
        background-color: #f7f7f7;
        border-radius: 0.53588rem;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .services .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        /* Cambia a cinco filas */
    }

    .services .container .content-container img {
        width: 34px;
    }

    .services .container .content-container p {
        font-weight: 450;
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
    }

    .bentocard {
        background-color: #f7f7f7;
        border-radius: 0.53588rem;
        margin-right: 10px;
        margin-bottom: 10px;
    }
        .content-container {
            padding: 25px;
        }
    

}

@media screen and (max-width: 440px){
        .services .container .content-container p {
                font-weight: 450;
                font-size: 0.9rem;
                font-family: 'Rubik', sans-serif;
            }
}